#login_background,
#reset_background {
    background-image: url("/src/Resources/Login/logo.png"),
        radial-gradient(circle at 50% 14em, #313264 0%, #00023b 60%, #00023b 100%);
    background-size: 25%, cover;
    background-repeat: repeat, no-repeat;
}

body {
    margin: 0;
}
.MuiMenuItem-root {
    overflow: hidden !important;
    margin-left: 5px !important;
}

.MuiTreeItem-content {
    /* padding: 0 !important;
    margin-block: 5px; */
}
.MuiTreeItem-iconContainer {
    /* width: 40px !important;
    margin-right: 20px !important; */
    /* margin-right: 0px !important; */
}

.MuiListItemIcon-root {
    /* padding-inline: 10px; */
    /* margin-left: -25px; */
    /* min-width: 28px; */
}
.MuiTreeItem-label {
    /* font-size: 24px !important;
    font-weight: 700 !important; */
}

.input_image_preview {
    height: 200px;
    width: 300px;
    object-fit: contain;
}

.custom_ape_button {
    position: absolute;
    right: 10px;
}

.collabP {
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    border: #00023b solid 1px;
    background-color: #151515;
    border-radius: 16px;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.36px;
    height: 80px;
    width: 100%;
    max-width: 230px;
    max-height: 80px;
    font-family: "Montserrat Alternates", sans-serif;
}

.testimonialP {
    overflow: hidden;
    font-family: "Montserrat Alternates", sans-serif;
    text-wrap: balance;
    text-align: center;
    /* box-sizing: border-box; */
    border: #00023b solid 1px;
    background-color: #151515;
    border-radius: 16px;
    font-size: 15px;
    letter-spacing: 0.36px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    font-weight: 400;
    line-height: 1.3;
    height: 78px;
    min-height: 78px;
    width: 100%;
    max-width: 307px;
    max-height: 78px;
}
